@import 'src/global/base';

.bullet-list {
    margin-top: size(25);
    font-size: 36px;
    line-height: size(47);
    color: $secondary;

    &__title {

    }

    &__item {
        list-style-position: inside;
    }
}
