@import 'src/global/base';

.header {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    background: $secondary;

    &__title {
        color: $primary;
        margin-bottom: size(10);
    }

    &__mission {
        align-self: center;
        color: $primary;
        max-width: size(850);
        line-height: size(62);
    }

    &__product {
        margin-top: size(10);
        object-fit: contain;
        overflow: hidden;
    }

    &__brand {
        position: absolute;
        bottom: $page-padding;
        right: $page-padding;
    }
}
