@import 'src/global/base';

.top-list-item {
    display: flex;
    color: $secondary;

    &__order {
        min-width: size(65);
        font-size: 96px;
        line-height: 1;
        margin-right: size(20);

        @media (max-width: $breakpoint-mobile) {
            font-size: $size-1;
            min-width: size(40);
        }
    }
}
