@import 'src/global/base';

.top-list-item {
    width: size(360);
    display: flex;
    color: $secondary;

    &__order {
        min-width: size(65);
        font-size: 96px;
        line-height: 1;
        margin-right: size(20);
    }

    &__content {
        font-size: 36px;
        line-height: size(47);
    }
}
