@import '../../global/base';

.container {
    padding: $section-padding;

    @media (max-width: $breakpoint-mobile) {
        padding: $section-padding / 2;
    }
}

.text {
    font-size: 36px;
    line-height: size(47);
    color: $secondary;

    @media (max-width: $breakpoint-mobile) {
        font-size: $size-4;
        line-height: size(32);
    }
}

h1 {
    font: $h1;
    margin: 0;
    font-style: normal;
    font-weight: normal;

    @media (max-width: $breakpoint-mobile) {
        font: $h2;
        margin: 0;
        font-style: normal;
        font-weight: normal;
    }
}

h2 {
    font: $h2;
    margin: 0;
    font-style: normal;
    font-weight: normal;

    @media (max-width: $breakpoint-mobile) {
        font: $h3;
        margin: 0;
        font-style: normal;
        font-weight: normal;
    }
}
