@import '../../global/base';

.container {
    padding: $section-padding;

    @media (max-width: $breakpoint-mobile) {
        padding: 0 $section-padding / 2;
    }
}

h1 {
    font: $h1;
    margin: 0;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font: $h2;
    margin: 0;
    font-style: normal;
    font-weight: normal;
}
