@import 'base';

html {
    font-size: 14px;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;

    @media (max-width: 500px) {
        font-size: 12px;
    }
}

::selection {
    color: $primary;
    background-color: $secondary;
}

html,
body {
    margin: 0;
    padding: 0;

    :focus {
        outline: 0;
    }
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
