@import 'src/global/base';

.page-section {
    max-width: 1000px;
    margin: 0 auto;
}

.page-section--primary {
    background-color: $primary;
}

.page-section--secondary {
    background-color: $delimiter;
}
