@import 'src/global/base';

.title {
    line-height: size(62);
    color: $secondary;
    margin-bottom: size(50);

    @media (max-width: $breakpoint-mobile) {
        margin-bottom: size(20);
    }
}
