@import '../../global/base';

.header {
    position: relative;
    color: $primary;
    background: $secondary;
    height: size(640);
    padding: 0 $page-padding;

    ::selection {
        color: $secondary;
        background-color: $primary;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 0 $page-padding / 2;
    }

    &__container {
        display: flex;
        flex-direction: row;
        position: relative;
        margin: 0 auto;
        height: 100%;
        max-width: $container-width;
    }

    &__navbar {
        display: flex;
        position: absolute;
        width: 100%;
        font-size: $size-5;
        padding: size(30) 0;

        @media (max-width: $breakpoint-mobile) {
            padding: $page-padding / 2 0;
        }
    }

    &__navbar-item {
        cursor: pointer;
        transition: .1s linear opacity;

        &:hover {
            opacity: .7;
        }

        &:not(:last-child) {
            margin-right: $page-padding;
        }
    }

    &__title {
        margin: auto 0;
        font: $h1;

        @media (max-width: $breakpoint-mobile) {
            font-size: $size-2;
            line-height: size(64);
        }
    }

    &__brands {
        position: absolute;
        display: flex;
        height: size(80);
        right: 0;
        bottom: $page-padding;
    }

    &__brands-item {

        &:not(:last-child) {
            margin-right: $page-padding;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__btn-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: $size-4;
        background: $primary;
        color: $secondary;
        text-decoration: none;
        height: size(60);
        padding: 0 $page-padding / 2;
        bottom: $page-padding;
        cursor: pointer;
        user-select: none;
    }
}
