@import '../../global/base';

.header {
	background: rebeccapurple;
	margin-bottom: 1.45rem;

	&__container {
		margin: 0 auto;
		max-width: 960px;
		padding: 1.45rem 1.0875rem
	}

	&__title {
		margin: 0
	}

	&__link {
		color: white;
		text-decoration: none;
	}
}
