@import '../../global/base';

.mission {
    background: $secondary;
    position: relative;
    height: 100vh;
    color: $primary;

    ::selection {
        color: $secondary;
        background-color: $primary;
    }

    &__container {
        display: flex;
        flex-direction: row;
        position: relative;
        margin: 0 auto;
        height: 100%;
        max-width: $container-width;
        padding: $page-padding;

        @media (max-width: $breakpoint-mobile) {
            padding: 0 $page-padding / 2;
        }
    }

    &__content {
        width: 80%;
        margin: auto 0;
        font-weight: lighter;
        font-size: $size-3;

        @media (max-width: $breakpoint-mobile) {
            width: 100%;
        }
    }
}
